/* Author: Araceli Magana */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap'); 

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	padding:0;
	background-color:var(--white);
	margin: 0 auto;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
:root{
	--pink: #f79d92;
    --pinkhover: #f88d7e;
	--red: rgb(143, 19, 19);
	--black:#020202;
	--graywhite: #e3e5e7;
    --white: #FFFF;
	--font-family: "Libre Baskerville", serif;
}
body{
    margin: 0 auto;
    font-family:var(--font-family);
	font-size: 20px;
}
header{
	background-color: var(--red);
	padding: 15px; 
}
header div a{
	padding-top:20px;
	margin-bottom:-10px;
	padding-left:50px;
	height:30px;
	display:flex;
}
nav{
	display:flex;
	justify-content:right;
	margin-right:60px;
}
nav img{
	width:15px;
}
nav ul {
	text-align:center;
	display:flex;
	padding-bottom:20px;
}
nav li{
    display:inline;
	padding-left:30px;
	padding-right:30px;
	font-size: 14px;
}
nav a{
	text-decoration: none;
    color: var(--pink);
}
h1{
	font-size: 40px;
	font-weight: bold;
	padding: 5px;
	padding-top: 30px;
}
h2{
	text-align:center;
}
#top{
	background-color: var(--red);	
	color:var(--white);
	height: 550px;
	padding: 10px;
	display:grid;
	display:flex;
	justify-content:center;
	grid-template-columns: 1fr 1fr;
	padding-top:120px;
	grid-gap:100px;
}
#top div p{
	padding-top: 40px;
	padding-bottom: 50px;
	width: 400px;
	line-height: 1.8;
}
#top img{
    width: 300px;	
}
#top p{
	padding: 5px;
}
#top button{
	background-color: rgb(63, 0, 0);
	color: var(--white);
	width: 200px;
	height: 40px;
	font-family: "Libre Baskerville", serif;
}
#featured{
	display:flex;
	text-align:center;
	margin-top:40px;
	margin-bottom:40px;
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap:20px;
}
#featured img{
	padding-bottom:10px;
}
#featured p{
	padding-top:10px;
	font-size:15px;
	margin-left:40px;
	margin-right:40px;
	line-height: 1.5;
}
#info img{
	width:1800px;
	opacity:0.5;
}


